@tailwind base;
@tailwind components;
@tailwind utilities;
  
  /* --> Primary Colors */
  /* 
    --primaryColor300
    --primaryColor400
    --primaryColor500
    --primaryColor600
    --primaryColor700
  */
 
  /* --> Secondary Colors */
  /*

    --secondaryColor300
    --secondaryColor400
    --secondaryColor500
    --secondaryColor600
    --secondaryColor700
  */
  
  /* --> Tertiary Colors */
  /*
    --tertiaryColor300
    --tertiaryColor400
    --tertiaryColor500
    --tertiaryColor600
    --tertiaryColor700
  */
  
  /* --> Background Colors */
  /*

    --pBgroundColor
    --sBgroundColor
    --tBgroundColor
    --qBgroundColor
  */
  
  /* --> Text */
  /*
    --primaryTextColor
    --secondaryTextColor
    --tertiaryTextColor
    --quaternaryTextColor
  */
 
  /* --> Status */
  /*
    --successColor
    --warningColor
    --dangerColor
    --infoColor
    --normalColor 
  */

  :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--primaryTextColor));
  background-color: var(--pBgroundColor);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
