@tailwind base;
@tailwind components;
@tailwind utilities;

/* --> Primary Colors */
/* 
    --primaryColor300
    --primaryColor400
    --primaryColor500
    --primaryColor600
    --primaryColor700
  */

/* --> Secondary Colors */
/*

    --secondaryColor300
    --secondaryColor400
    --secondaryColor500
    --secondaryColor600
    --secondaryColor700
  */

/* --> Tertiary Colors */
/*
    --tertiaryColor300
    --tertiaryColor400
    --tertiaryColor500
    --tertiaryColor600
    --tertiaryColor700
  */

/* --> Background Colors */
/*

    --pBgroundColor
    --sBgroundColor
    --tBgroundColor
    --qBgroundColor
  */

/* --> Text */
/*
    --primaryTextColor
    --secondaryTextColor
    --tertiaryTextColor
    --quaternaryTextColor
  */

/* --> Status */
/*
    --successColor
    --warningColor
    --dangerColor
    --infoColor
    --normalColor 
  */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  @apply box-border w-auto m-0 overflow-x-hidden border-none;
}
body {
  @apply text-light-Text-primary dark:text-dark-Text-primary;
  color: rgb(var(--primaryTextColor));
  background-color: var(--pBgroundColor);
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(
    --tertiaryColor500
  ); /* Color del thumb (la parte que puedes arrastrar) */
  border-radius: 6px; /* Radio de la esquina del thumb */
}
*::-webkit-scrollbar-track {
  background-color: var(
    --tBgroundColor
  ); /* Color de fondo de la barra de scroll */
}

/* Estilos adicionales para el thumb cuando está siendo arrastrado */
*::-webkit-scrollbar-thumb:active {
  background-color: var(--tertiaryColor700);
}

/* Estilos para navegadores que no son Firefox ni WebKit (puedes ajustar según sea necesario) */
* {
  scrollbar-color: var(--tertiaryColor500) var(--tBgroundColor);
}
*:active {
  scrollbar-color: var(--tertiaryColor700) var(--tBgroundColor);
}
.welcome-section {
  height: calc(100vh - 74px);
}
.main-container {
  @apply relative flex flex-col items-center justify-between min-h-screen;
}
.home-header {
  @apply relative w-screen pt-4 sm:px-8 lg:px-14;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.txt-deg-primary {
  @apply text-transparent bg-gradient-to-l from-primary-500 to-secondary-300 bg-clip-text;
}
