.nav {
    background: var(--tBgroundColor);
    color: var(--primaryColor500);
    
}
.nav .links {
    font-weight: 500;
    font-size: 1.1rem;
}
.nav .links:hover{
    background: linear-gradient(92deg, #00697A 0%, #001518 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.nav .linkSelected{
    font-weight: 600;
    font-size: 1.2rem;
    background: linear-gradient(92deg, #00697A 0%, #001518 100%);
    -webkit-background-clip: text;
    color: transparent;

}
.cartIcon {
    transition: all 0.2s ease;
}
.cartIcon:hover {
    cursor: pointer;
    color: var(--primaryColor300);
    scale: 1.1;

}
.cartCounter{
    line-height: 0;
    width: 14px;
    height: 14px;
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    bottom: -5px;
    right: -3px;
    background: var(--primaryColor300);
    position: absolute;
    border-radius: 50%;
}