.nav {
  @apply flex items-center justify-between w-full px-6 py-2 rounded bg-light-Background-tertiary text-primary-500 dark:bg-dark-Background-tertiary/70;
}
.nav .logoContainer {
  @apply flex items-center justify-center py-[2px] px-2 rounded-full 
  lg:mr-0 mr-4
  dark:bg-light-Background-tertiary
    dark:hover:shadow;
}
.nav .logo {
  @apply cursor-pointer aspect-auto;
}
.nav .links {
  @apply text-base font-medium hover:bg-gradient-to-r hover:from-primary-500 hover:to-dark-Background-secondary hover:text-transparent hover:bg-clip-text hover:underline hover:decoration-dashed hover:decoration-primary-500 dark:hover:decoration-primary-300 dark:hover:bg-gradient-to-r dark:from-secondary-500 dark:to-primary-500;
}

.nav .linkSelected {
  @apply text-lg font-semibold text-transparent bg-gradient-to-r from-primary-500 to-dark-Background-secondary bg-clip-text dark:from-secondary-500 dark:to-primary-500;
}
.cartIcon {
  @apply transition-all hover:cursor-pointer hover:text-primary-300 hover:scale-110;
}
.cartCounter {
  @apply leading-[0] w-4 aspect-square flex text-sm font-semibold justify-center items-center bottom-[-5px] right-[-3px] bg-secondary-400 absolute rounded-full;
}

.dropdownContainer {
  @apply bg-light-Background-tertiary border-primary-300 border-2 border-solid gap-4 items-center justify-center text-center flex-col absolute z-20 right-20 bottom-[-280px] rounded p-4 shadow-xl flex md:hidden;
}
.btnChangeTheme {
  @apply transition-all outline-none hover:text-primary-300 hover:scale-105;
}