.nav {
    background: var(--tBgroundColor);
    color: var(--primaryColor500);
    
}
.nav .links {
    font-weight: 500;
    font-size: 1.1rem;
}
.nav .links:hover{
    background: linear-gradient(92deg, #00697A 0%, #001518 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.nav .linkSelected{
    font-weight: 600;
    font-size: 1.2rem;
    background: linear-gradient(92deg, #00697A 0%, #001518 100%);
    -webkit-background-clip: text;
    color: transparent;

}
.cartIcon {
    transition: all 0.2s ease;
}
.cartIcon:hover {
    cursor: pointer;
    color: var(--primaryColor300);
    scale: 1.1;

}