.productsSection {
    background: var(--tBgroundColor);
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(0deg, var(--tBgroundColor), var(--secondaryColor500) 1px, var(--tBgroundColor) 1px, var(--tBgroundColor));
    position: relative;
}

.productsSection::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -10;
}
.productsSection header {
    background: #ffffff3c;
}
.productsContainer {
    height: calc(100vh - 55px);
}