.productsSection {
    background-image: repeating-linear-gradient(0deg, var(--tBgroundColor), var(--secondaryColor500) 1px, var(--tBgroundColor) 1px, var(--tBgroundColor));
    
    @apply relative bg-light-Background-tertiary bg-20
    after:block after:absolute after:top-0 after:right-0 after:bottom-0 after:left-0 after:opacity-0 after:z-min10;
    &::after {
        content: "";
    }
}

.productsContainer {
    height: calc(100vh - 55px);
}