@tailwind utilities;
:root {
    --primaryColor500: #00697A;
}
@layer utilities {
    .gradient-border {
      border: 3px solid transparent;
      border-image: linear-gradient(92deg, var(--primaryColor500) 0%, #001518 100%) 1;
    }
    .gradient-text {
      background: linear-gradient(92deg, var(--primaryColor500) 20.81%, #001518 98.5%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
.welcomeTextContainer {
    @apply w-2/5 h-full flex items-center justify-center;
}
.welcomeTextContainer .welLayout {
    @apply flex flex-col gap-4;
}
.welSlogan {
    @apply text-pretty 
    xxs:text-xl
    md:text-2xl;
}
.welTile {
    @apply drop-shadow-lg text-6xl font-semibold
    xxs:text-5xl;
}
.btnContainer {
    @apply flex justify-start gap-9 items-center
}
.welcome-btn-primary, .welcome-btn-secondary {
    @apply hover:scale-[1.025] shadow-md;
}
.welcome-btn-primary{
    @apply text-tertiary-300 bg-gradient-to-r from-primary-400 to-dark-Background-secondary;
}
.welcome-btn-secondary span{
    @apply gradient-text gradient-border;
    transition: all 0.3s ease;
}