.welcome-btn-primary{
    background: linear-gradient(92deg, #00697A 0%, #001518 100%);
    color: var(--tertiaryColor300);
}

.welcome-btn-secondary span{
    border: 3px solid transparent;
    border-image: linear-gradient(92deg, var(--primaryColor500) 0%, #001518 100%) 1;
    background: linear-gradient(92deg, var(--primaryColor500) 20.81%, #001518 98.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
}
.welcome-btn-primary:hover, .welcome-btn-secondary:hover {
    scale: 1.025;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
}